.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 430px;
    width: 100%;
    max-height: fit-content;
    height: 100%;
    align-items: center;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.form__title {
    font-family: "My Inter Black";
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    color: black;
    max-width: 358px;
    width: 100%;
    margin: 0;
    margin-bottom: 54px;
    margin-top: 34px;
}

.form__field {
    max-width: 358px;
    width: 100%;
    height: 27.26px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
    padding: 0;
    padding-bottom: 13.26px;
}

.form__field-name {
    margin-bottom: 30px;
}

.form__field-about {
    margin-bottom: 48px;
}

.form__field:focus {
    outline: none;
}

.form__field::placeholder,
textarea::placeholder {
    color: rgba(196, 196, 196, 1);
}

.form__field:focus::placeholder,
textarea:focus::placeholder {
    color: rgba(196, 196, 196, 1);
}


.form__save {
    /* Cambiar estas propiedades del botón cuando haya texto */
    color: rgba(196, 196, 196, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    background-color: transparent;
    /* Mantener estas propiedades del botón igual */
    max-width: 358px;
    width: 100%;
    padding: 16px 0px;
    margin-bottom: 36.51px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.form__save.dynamic:hover {
    opacity: 80%;
}

@media screen and (min-width: 320px) and (max-width: 728px) {
    .form {
        padding: 0 22px;
    }
    .form__title {
        font-size: 18px;
        margin-bottom: 76px;
        margin-top: 25px;
    }

    .form__field {
        height: 26px;
        padding-bottom: 9px;
    }
    .form__save {
        padding: 14px 0px;
        margin-bottom: 25px;
        border-radius: 2px;
        font-size: 14px;
    }    
    .form__field-about {
        margin-bottom: 46px;
    }
}